@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    font-size: 22px;
    margin: 0 auto;
}
#content2 {
    
    text-align: center;  
    font-size: 22px;
}
header {
    background-color: #94a49d;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 35px;
}
nav a:hover {
    background-color:#9293be;
    color:#c2c3df;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    margin-top: 10px;
    font-size: 2em;
    color:white;
}
h4 {
    color:white ;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
.home-grid h2 {
    color:#313784;
}
.home-grid {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.icon {
    width: 80px;
    padding-top:10px;
}

.book, .join {
    background-color: #8a8daa;
    color: #070818 ;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color:#284b3b;
    color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
.book:hover, .join:hover {
    background-color:#bdbed8;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
#background {
    background-color: #053e24;
}
.msg {
    background-color: #94a49d;
    color:white;
    line-height: 1.5em;
    padding: 35px;
    
}
.card-img, .mountains {
    width: 100%;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    }
.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    width: 100%;
    box-shadow: 5px 5px 10px #053e24;
}
.msg {
    grid-column: 6/10;
    grid-row: 6/7;
    background-color:#053e24;
    padding: 35px;
    box-shadow: 5px 5px 10px #030c08;
}
.card-img {
    border: 10px solid #053e24;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #030c08;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg h2 {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    color:white;
}
.msg p {
    color:white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #94a49d;
    color:white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color:#9293be;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
/* Rivers Page2 */


#wide-river-section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.wide-river-img {
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/3;
    z-index: -1;
}


.wide-title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    color: white;
    font-size: 76px;
}
.rivers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
.salmon-header, .desolation-header, .grand-header {
    color:#313784;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}
.salmon-para, .desolation-para, .grand-para {
    color:#313784;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
.salmon-header {
    padding: 30px;
    grid-column: 1/5;
    grid-row: 1/2

}
.salmon-img {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 20px;
}
.salmon-para {
    grid-column:2/5;
    
}
.desolation-header {
    padding-top: 30px;
    grid-column: 1/5;
    
}
.desolation-img {
    grid-column: 1/2;
    margin: 20px;
}
.desolation-para {
    grid-column:2/5;
    padding-left: 20px;
}
.grand-header {
    padding-top: 30px;
    grid-column: 1/5;
}
.grand-img {
    grid-column: 1/2;
    margin: 20px;
}
.grand-para {
    grid-column: 2/5;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}