@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rock+Salt&display=swap');

#content {
    max-width: 1600px;
    font-size: 22px;
    margin: 0 auto;
}
#content2 {
    
    text-align: center;  
    font-size: 22px;
}
header {
    background-color: #94a49d;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 35px;
}
nav a:hover {
    background-color:#9293be;
    color:#c2c3df;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    
}
.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    margin-top: 10px;
    font-size: 2em;
    color:#313784 ;
}
h4 {
    color:#313784 ;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
.home-grid h2 {
    color:#313784;
}
.home-grid {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
}
.icon {
    width: 80px;
    padding-top:10px;
}

.book, .join {
    background-color: #8a8daa;
    color: #070818 ;
    text-decoration: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.join {
    background-color:#284b3b;
    color: white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}
.book:hover, .join:hover {
    background-color:#bdbed8;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
#background {
    background-color: #053e24;
}
.msg {
    background-color: #94a49d;
    color:white
    line-height: 1.5em;
    padding: 35px;
    
}
.card-img {
    border: 10px solid #053e24;
}
.msg h2 {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    color:white;
}
.msg p {
    color:white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #94a49d;
    color:white;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color:#9293be;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}